@import "tailwindcss";

@font-face {
  font-family: "DaydreamPixel";
  src: url("./assets/fonts/Daydream.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("./assets/fonts/helvetica/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Helvetica", Arial, sans-serif;
}
